---
---

@import "{{ site.theme }}";

/* Overrides */
header {
  position: relative;
}

/* Global */
a:hover, a:focus {
  font-weight: unset;
  text-decoration: underline;
}

h1:not(:first-child), h2:not(:first-child) {
  margin-top: 2em;
}

.image-right {
  display: block;
  margin: auto;
  float: right;
}

/* Boxes */
.box-right {
  float: right;
  font-size: .8em;
  margin: 0 0 1em 1.6em;
  width: 30%;
}

/* Columns */
columns {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

right, left {
  width: 50%;
}

left {
  padding-right: 3em;
}

/* Components */
components {
  display: flex;
  flex-direction: column;
}

component {
  padding: 0 0 2em 0;
}

/* Partcipants */
organizations {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

organizations.list {
  display: block;
  margin: 4em 0 0 0;
  text-align: center;
}

organization {
  margin: 1em;
  text-align: center;
  width: 200px;
}

.list organization {
  width: auto;
  margin: auto;
}

logo {
  display: block;
}

logo img {
  height: auto;
  max-width: none;
  min-width: 0;
  width: auto;
}

name {
  display: block;
}

.list name {
  display: inline;
}

people ol {
  margin: 1em 0 0 0;
}

/* Social Icons */
socialicons {
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
  margin: 0 0 2em 0;
}

socialicon {
  margin: 0 .5em;
}

socialicon .fa {
  font-size: 2em;
}

/* Responsive Rules */
@media (max-width: 960px) {
  columns {
    flex-direction: column;
  }

  right, left {
    width: 100%;
  }

  .image-right {
    display: block;
    margin: auto auto 1em auto;
    float: none;
  }
}
